@import '../../index.scss';

.container {
  user-select: none;
  width: 80vw;
  background-color: $back-color;
  border-radius: 5px;
  border: 2px solid $accent-color;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  padding: 0 15px 0 15px;
  align-items: center;
  &:hover {
    background-color: $darker-back-color;
  }
  * {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $accent-color;
  }
  button {
    color: $back-color;
    cursor: pointer;
    background-color: $lighter-color;
    outline: none;
    &:hover {
      background-color: $accent-color;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    margin-left: auto;
  }
}

.avatar {
  height: 30px;
  width: 30px;
  background-color: $lighter-color;
  border-radius: 50%;
  color: $back-color;
  margin: 5px 5px 5px 0;
}
