@import '../../index.scss';

.container {
  width: 80vw;
  background-color: $back-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h6 {
  color: $accent-color;
  font-weight: bold;
  text-decoration: underline;
}

button {
  user-select: none;
  background-color: $back-color;
  border: 1px solid $accent-color;
  color: $accent-color;
  border-radius: 2px;
  font-size: $small-text;
  :hover {
    background-color: $ultra-light-color;
  }
}
